<footer class="footer">
    <div class="footer-container">
        <span>node express handlebas mongodb</span> @ <a href="https://github.com/Free-Acmen/chat-node-handlebars-mongoDB">GitHub</a>
    </div>
</footer>