<header class="header">
    <div class="head-container clear">
        <h2 class="left">Your Chat, I Chat, Our Chat</h2>
        <ul>
            <li class="right">
                <a href="/signin">Sign in</a>
                <span class="blue">or</span>
                <a href="/signup">Sign up</a>
            </li>
        </ul>
    </div>
</header>