<header class="header">
    <div class="head-container clear">
        <h2 class="left">Your Chat, I Chat, Our Chat</h2>
        <ul>
            <li class="right">Sign in <span class="blue">or</span> Sign up</li>
        </ul>
    </div>
</header>