
{{#section 'css'}}
    <link rel="stylesheet" href="{{static '/css/chat.css'}}">
{{/section}}

{{! 头部引入}}
{{> header}}
<section class="chat-container">
    
</section>

{{! 头部引入}}
{{> footer}}

{{#section 'js'}}
    <script>
        console.log(Utils);
    </script>
{{/section}}