
{{#section "signCss"}}
    <link rel="stylesheet" href="{{static '/css/chat.css'}}">
{{/section}}

{{! 头部引入}}
{{> header}}
<section class="chat-container">
    
</section>

<p>node express handlebas mongodb</p>

{{#section 'js'}}
    <script>
        console.log(Utils);
    </script>
{{/section}}