{{#section "css"}}
    <link rel="stylesheet" href="{{static '/css/sign.css'}}">
{{/section}}

{{! 头部引入}}
{{> headerSign}}

<section class="login-container">
    <h4 class="title">Sign up to Chat</h4>
    <div class="login-form">
        <form class="login" action="/sign-up" method="post">
            <label for="user-name">Account</label>
            <input id="user-name" type="text" name="signAccount">
            <label for="user-pwd">Password</label>
            <input id="user-pwd" type="password" name="signPwd"> 
            <label for="user-pwd">Name</label>
            <input id="user-pwd" type="text" name="signName"> 

            <button id="sign-in" type="button">Sign up</button>
        </form>
    </div>
    <div>
        
    </div>
</section>

{{! 页脚引入}}
{{> footer}}

{{#section 'js'}}
    <script>
        $("#sign-in").click(function(){
            var url = $(".login").attr("action");
            var data = $(".login").serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function(data){
                    if(data.state == "success"){
                        location.href =location.protocol + "//" + location.host + "/" +data.url;
                    }
                }
            });
        });
    </script>
{{/section}}