{{#section "signCss"}}
    <link rel="stylesheet" href="{{static '/css/sign.css'}}">
{{/section}}

{{! 头部引入}}
{{> headerSign}}

<section class="login-container">
    <h4 class="title">Sign in to Chat</h4>
    <div class="login-form">
        <form action="/signIn">
            <label for="user-name">Username or Email Address</label>
            <input id="user-name" type="text" name="sign-name">
            <label for="user-pwd">
                Password
                <a href="/passward-reset">Forgot password?</a>
            </label>
            <input id="user-pwd" type="password" name="sign-pwd"> 
            <button type="button">Sign in</button>
        </form>
    </div>
    <div>
        
    </div>
</section>

{{! 页脚引入}}
{{> footer}}

{{#section 'js'}}
    <script>
        console.log(111);
    </script>
{{/section}}