{{#section "css"}}
    <link rel="stylesheet" href="{{static '/css/sign.css'}}">
{{/section}}

{{! 头部引入}}
{{> headerSign}}

<section class="login-container">
    <h4 class="title">Sign in to Chat</h4>
    <div class="res-msg">1111</div>
    <div class="login-form">
        <form class="login" action="/sign-in" method="post">
            <label for="user-name">Username or Email Address</label>
            <input id="user-name" type="text" name="signAccount">
            <label for="user-pwd">
                Password
                <a href="/passward-reset">Forgot password?</a>
            </label>
            <input id="user-pwd" type="password" name="signPwd"> 
            <button id="sign-in" type="button">Sign in</button>
        </form>
    </div>
    <div class="link-signup">New to Chat? <a href="/signup">Create an account.</a></div>
</section>

{{! 页脚引入}}
{{> footer}}

{{#section 'js'}}
    <script>
        $("#sign-in").click(function(){
            var url = $(".login").attr("action");
            var data = $(".login").serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function(data){
                    if(data.state == "success"){
                        $(".res-msg").removeClass("faile").html("");
                        location.href =location.protocol + "//" + location.host + "/" +data.url;
                    }else{
                        $(".res-msg").addClass("faile").html(data.msg);
                    }
                }
            });
        });
    </script>
{{/section}}