.header {
    font-size: .8rem;
    padding: 2rem 0 1.5rem;
}

.head-container,
.footer-container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.signed .sing-out {
    line-height: 1.5rem;
    color: #0366d6;
    cursor: pointer;
    margin-left: .3rem;
}

.signed img {
    width: 1.5rem;
    height: 1.5rem;
}

.header-sign {
    text-align: center;
    padding: 3rem 1rem 1rem;
}

.header-sign img {
    width: 6rem;
}

.footer-container {
    text-align: center;
    padding: 2rem 0;
}

.footer-container a {
    color: #0366d6;
}

.blue {
    color: #0366d6;
}